
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;

  /* ----- 背景 ----- */

  background-color: #fffef9 ;

  /* ----- 块&引用 ----- */

  blockquote {

      border-left: #00a6ac 5px solid ;
      background-color: #afdfe4 ;
      color : #11264f ;

  }

  .chapterContent {
    background-color: #f2eada ;
  }

  .chapterContent_ {
    position: relative ;
    left: 30px ;
  }
  



}
